*
{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

label
{
    font-weight:800;
    font-family:Helvetica;
}

input[disabled] {
  cursor: not-allowed;
}

.max-height
{
    height: 100%;
}

.file-input
{
    width:0 !important;
}

.nav-wrapper
{
    display: flex;
    width: 100%;
}

#sidebar
{
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: #263238;
    color: white;
    transition: all 0.3s;
}

#sidebar.active
{
    margin-left: -250px;
}

#main.active 
{
    width: 100%;
}

#main
{
    width: calc(100% - 250px);
    transition: all 0.3s;
    position: absolute;
    height:100vh;
    top: 0;
    right: 0;
    padding: 15px 15px 15px 30px;
    background:#E0E0E0;
}


#sidebar ul li a
{
    font-family: arial;
    font-size:1.5em;
    font-weight: bold;
    color: #e4eaec;
}

#sidebar button
{
    border-radius:50%;
    position: absolute;
    right:-27px;
}

.overlay-close-btn
{
    background: rgb(255,0,0);
    background:linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,85,85,1) 50%, rgba(255,0,0,1) 100%);
    height:100%;
    border:0;
    vertical-align: center;
    position:fixed;

    transition: all 0.3s linear;

}

.overlay-close-btn .fa-angle-right
{
    font-size:50px;
    width:40px;
}

.overlay-close-btn:hover
{
    background: linear-gradient(90deg, rgba(255,51,51,1) 20%, rgba(255,110,110,1) 50%, rgba(255,51,51,1) 84%);
}



.btn-blue
{
    background-color:  #5D8AA8;
    color:white;

    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border:0;

    transition: all 0.3s ease-out;
}

.btn-blue:hover 
{
    background-color:#74ADD3;
    color:black;


}

.btn-green
{
    background-color:#05A85C;
    color:white;

    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border:0;

    transition: all 0.3s ease-out;
}

.btn-green:hover
{
    background-color:#06D273;
    color:black;
}

.btn-red
{
    background-color:#f2353c;
    color:white;

    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border:0;

    transition: all 0.3s ease-out;
}

.btn-red:hover
{
    background-color:#ff666b;
    color:black;


}

.btn-size-form
{
    padding:3px 10px;    
    font-size: 17px;
    /*font-weight: 600;*/
}

.tabulator-cell, .tabulator-col
{
    border-right:1px solid rgba(34,36,38,.1) !important;
}

.tabulator-row-even
{
    background:#EFEFEF;
}

.btn-yellow
{
    background-color:#292826;
    color:#F9D342;

    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border:2px solid #F9D342;

    transition: all 0.3s ease-out;
}


.btn-yellow:hover
{
    background-color:#F9D342;
    color:#292826;

}



/*------------------------------------------------------------------------------------------------*/
/*Shopping cart*/
#shoppingCart
{
	height:100vh;
}

/*.cart, .product-list .product
{
	margin:10px 10px;
	box-shadow: 3px 3px 5px black;
    border-radius: 10px 0 0 0 ;
    padding:5px 0;
	background:white;
    text-align: center;

}*/

.product-list
{   

    height:100%;
    overflow-y: auto;

}

.cart-list
{
    height:90%;
}

.product-list .product, .cart
{
    width: 45%;
    display: inline-block;
    margin:10px 10px;
    box-shadow: 3px 3px 5px black;
    border-radius: 10px 0 0 0 ;
    padding:5px;
    background:white;
    text-align: center;
}



.cart:hover
{
	transform: scale(1.05,1.05);
}

#place-order-overlay
{
    height: 100%;
    width: 100%;

    position: fixed;

    top:0;
    right: -100vw;

    background:transparent;

    z-index: 1;
    transition: right 0.3s linear;
}

#place-order-overlay.active
{
    background:linear-gradient(90deg, rgba(0,0,0,0.26934523809523814) 0%, rgba(0,0,0,0.7483368347338936) 0%);
    right: 0;    
}

#place-order
{
    background: white;
    position:relative;
    margin-left:auto;
    margin-right:auto;
    width:80%;
    height:100%;
}

.order-box
{
    height:10%;
}

/*------------------------------------------------------------------------------------------------*/

/*Product Manager */


.product-manager-list
{
    overflow-y: auto;
    height:100%;
}

.product-manager-list .product
{
    width: 200px;
    display: inline-block;
    margin:10px 10px;
    box-shadow: 3px 3px 5px black;
    border-radius: 10px 0 0 0 ;
    padding:5px;
    background:white;
    text-align: center;
}

.product-manager-list p, .product-manager-list img, .product-manager-list button
{
    
    margin-bottom:5px ;
}

.product-manager-list .product:hover
{
    transform: scale(1.05,1.05);
}

.product-search-box, .product-control-box
{
    margin:15px 0;
    background: #E4EAEC;
    padding:20px 15px;
    /*border-top: 4px groove #ADB2B3;*/
    border-left: 10px groove #65696A;
    border-bottom-right-radius: 50%;
    /*box-shadow:2px 2px 5px 0px rgba(0,0,0,0.75)*/

}





.product-right-pane
{
    background: #E0E0E0;
    height:100vh;
}

.product-search-box button
{
    width:100%;
    display:block;

}





.product-control-box
{
    margin-top:30px;
}

.add-btn
{
    padding:10px 0px;    
    font-size: 30px;
    font-weight: 600;

    width:100%;

}

.add-btn:hover i
{
    transform:scale(1.2,1.2);
}

.add-btn:hover
{
    transform:scale(0.95,0.95);
}

.config-btn
{
    font-weight:700;
    width:100%;
    padding:3px 0px;    
}

.config-btn:hover i
{
    animation:fa-spin 0.5s linear;
    animation-iteration-count:1;
}



#product-detail-overlay, #product-setting-overlay
{
    height: 100%;
    width: 100%;

    position: fixed;

    top:0;
    right: -100vw;

    background:transparent;

    z-index: 1;
    transition: right 0.3s linear;
}

#product-detail-overlay.active, #product-setting-overlay.active
{
    background:linear-gradient(90deg, rgba(0,0,0,0.26934523809523814) 0%, rgba(0,0,0,0.7483368347338936) 0%);
    right: 0;

}


#product-detail,#product-setting
{
    width:calc(100% - 250px - 2%);
    height:100%;

    position: absolute;

    background:white;
    opacity:1;   

    right:0;

    z-index:2;

    overflow-y: auto;
    overflow-x: hidden;

}

#product-detail form
{
    padding:30px 15px;
}

#product-detail #img
{
    height:200px;
    width:200px;
}

#product-detail #imgDetail
{
    width:100%;
    height:auto;
}

#myForm button
{
    width:100%;
}

#typesTable, #brandsTable
{
    height:50vh;
}

#product-setting input
{
    width:auto;
}


/*------------------------------------------------------------------------------------------------*/
/*Account Page*/

#account-detail-overlay
{
    height: 100%;
    width: 100%;

    position: fixed;

    top:0;
    right: -100vw;

    background:transparent;

    z-index: 1;
    transition: right 0.3s linear;
}

#account-detail-overlay.active
{
    background:linear-gradient(90deg, rgba(0,0,0,0.26934523809523814) 0%, rgba(0,0,0,0.7483368347338936) 0%);
    right: 0;

}


#account-detail
{
    width:calc(100% - 250px - 2%);
    height:100%;

    position: absolute;

    background:white;
    opacity:1;   

    right:0;

    z-index:2;

    overflow-y: auto;
    overflow-x: hidden;
}

#account-detail form
{
    padding:30px 15px;
}

.account-box
{
    height:100%;
}

.account-table-box
{

    /*padding: 20px 30px;*/
    height:100%;

}

.account-btn-box
{
    background: white;
    padding: 20px 30px;
    border-radius:5px;
    height:90%;
    margin:0 15px;
    box-sizing: border-box;
}

.account-btn-box .addBtn
{
    padding:10px 0px;    
    font-size: 25px;
    font-weight: 600;

    width:100%;
}

#account-table
{
    height:90%;
}
/*------------------------------------------------------------------------------------------------*/

