@media screen and (min-width: 992px)
{

	.productList, .cartList, .product-manager-list
	{	

		height:90%;
		overflow-y: scroll;
	}


	.cart, .product-manager-list .product
	{
		width: 30%;
		display: inline-block;

	}


}